<div>
  <h1>AUTOMATIC GPA and CGPA Calculator</h1>
  <!-- Current Date and Time -->
  <div class="info-container">
    <div class="info-item">
        <span class="info-label">Date:</span>
        <span class="info-value">{{ currentDate | date:'dd/MM/yyyy' }}</span>
    </div>
    <div class="info-item">
        <span class="info-label">Time:</span>
        <span class="info-value">{{ currentTime }}</span>
    </div>
    <div class="info-item">
        <span class="info-label">GPA Count:</span>
        <span class="info-value">{{ gpaClicks || 0 }}</span>
    </div>
    <div class="info-item">
        <span class="info-label">CGPA Count:</span>
        <span class="info-value">{{ cgpaClicks || 0 }}</span>
    </div>
    <div class="info-item">
      <span class="info-label">Auto GPA Count:</span>
      <span class="info-value">{{ agpaClicks || 0 }}</span>
    </div>
</div>

  <!-- Semester Selection Dropdown -->
  <div *ngIf="availableSemesters.length > 0">
    <label for="semesterSelect">Select Semester:</label>
    <select id="semesterSelect" [(ngModel)]="selectedSemester" (change)="handleSemesterSelection()">
      <option value="" disabled>Select a Semester</option>
      <option *ngFor="let semester of availableSemesters" [value]="semester">
        Semester {{ semester }}
      </option>
    </select>
  </div>
  <button disabled (click)="openPage()" *ngIf="!isPageOpened && !isAutomated">Open URL</button>
  <button disabled *ngIf="isPageOpened && !isAutomated">URL Opened</button>

   <!-- POPUP MODAL -->
<div *ngIf="!loggedIn && isPageOpened" class="modal-overlay">
  <div class="modal-content">
    <button class="close-btn" (click)="cancelPopup()">×</button>
    <h2>🔐 Login Required</h2>
    <input [(ngModel)]="username" placeholder="Username" />
    <input [(ngModel)]="password" type="password" placeholder="Password" />
    
    <img [src]="captchaUrl" alt="CAPTCHA" class="captcha-img" />
    <input [(ngModel)]="captcha" placeholder="Enter CAPTCHA" />

    <div class="modal-buttons">
      <button (click)="submitLogin()">Submit</button>

    </div>
  </div>
</div>

  
  <div *ngIf="loggedIn">
    <p>✅ Logged in successfully!</p>
  </div>
  
  <button (click)="scrapeData()" [disabled]="isScrapeDisabled"*ngIf="isPageOpened && !isAutomated">Automate</button>
  <button disabled *ngIf="isAutomated">Scraping...</button>
  
  <button (click)="printContainer(gpaContainer)">🖨️ Print GPA</button>
    <button (click)="captureScreenshot(gpaContainer)">📸 Screenshot GPA</button>
  <div #gpaContainer>
  <h2>GPA Calculator</h2>
  <p *ngIf="studentDetails">
    <strong>Register Number:</strong> {{ studentDetails.registerNumber }}<br />
    <strong>Name:</strong> {{ studentDetails.name }}<br />
    <strong>Institution:</strong> {{ studentDetails.institution }}<br />
    <strong>Branch:</strong> {{ studentDetails.branch }}
  </p>
  <label>Number of Subjects:</label>
  <input type="number" [(ngModel)]="subjectCount" (change)="updateCourses()" />

  <div *ngFor="let course of courses; let i = index">
    <label>Subject code {{i + 1}}:</label>
    <input
      type="text"
      [(ngModel)]="course.code"
      (change)="fetchSubjectDetails(course)"
      placeholder="Subject Code"
    />
    <label>Name:</label>
    <input type="text" [(ngModel)]="course.name" placeholder="Subject Name"  />
    <label>Credit:</label>
    <input type="number" [(ngModel)]="course.credits" placeholder="Credits"  />
    <label>Grade:</label>
    <select [(ngModel)]="course.grade">
      <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
    </select>
  </div>

  <button (click)="calculateGPA(); trackClick('GPA')">Calculate GPA</button>
  <p *ngIf="gpa !== null">GPA: {{ gpa.toFixed(3) }}</p>
  </div>
  <hr />
  <button (click)="printContainer(cgpaContainer)">🖨️ Print CGPA</button>
    <button (click)="captureScreenshot(cgpaContainer)">📸 Screenshot CGPA</button>
  <div #cgpaContainer>
  <h2>CGPA Calculator</h2>
    <p *ngIf="studentDetails">
    <strong>Register Number:</strong> {{ studentDetails.registerNumber }}<br />
    <strong>Name:</strong> {{ studentDetails.name }}<br />
    <strong>Institution:</strong> {{ studentDetails.institution }}<br />
    <strong>Branch:</strong> {{ studentDetails.branch }}
  </p>
  <label>Number of Semesters:</label>
  <input type="number" [(ngModel)]="semesterCount" (change)="updateSemesters()" />

  <div *ngFor="let semester of semesters; let i = index">
    <label>GPA for Semester {{i + 1}}:</label>
    <input
      type="number"
      [(ngModel)]="semester.gpa"
      placeholder="Semester"
      step="0.01"
    />
    <label>Credits:</label>
    <input
      type="number"
      [(ngModel)]="semester.credits"
      placeholder="Credits"
    />
  </div>

  <button (click)="calculateCGPA(); trackClick('CGPA')">Calculate CGPA</button>
  <p *ngIf="cgpa !== null">CGPA: {{ cgpa.toFixed(2) }}</p>
</div>   
<footer>
  <p>Have feedback? <a href="https://forms.gle/mhHwFmUm3BuaecN9A" target="_blank">Click here</a></p>
  <p>Connect on <a href="https://www.linkedin.com/in/sridhar-s-7980b2255/" target="_blank">LinkedIn</a></p>
</footer>
